<div *ngIf="railroadCrossing">
    <h2>{{ railroadCrossing.fld_naam_ramses}} Details</h2>
    <p><b>Type : </b>{{ railroadCrossing.type_lc }}</p>
    <p><b>Location</b> : x = {{ railroadCrossing.fld_geo_x}}, y = {{ railroadCrossing.fld_geo_y }}</p>
    <p><b>Zip code / City</b> : {{ railroadCrossing.fld_postcode_en_gemeente }}</p>

    <div class="d-grid gap-2 d-md-block">
        <button type="button" class="btn btn-warning m-2" id="updateButton"><a [routerLink]="['/edit', railroadCrossing.id]">Edit</a></button>
    </div>
</div>
