<h1 id="title">Railroad Crossings</h1>

<p>This component fetches data from Infrabel OpenData.</p>

<p *ngIf="!railroadCrossings?.length"><em>Loading...</em></p>

<div *ngIf="railroadCrossings.length">
    <label for="railroadCrossingSelect">Select a railroad crossing:</label>
    <select name="railroadCrossings" id="railroadCrossingSelect" [(ngModel)]="selectedRailroadCrossing">
        <option value="">--Please choose a railroad--</option>
        <option *ngFor="let railroadCrossing of railroadCrossings" [ngValue]="railroadCrossing">
            {{ railroadCrossing.fld_naam_ramses }}>
        </option>
    </select>
</div>

<app-railroad-detail [railroadCrossing]="selectedRailroadCrossing"></app-railroad-detail>