<h1 id="title">Railroad Crossings</h1>

<p>This component fetches data from Infrabel OpenData.</p>

<p *ngIf="!railroadCrossings?.length"><em>Loading...</em></p>

<label for="railroadCrossingSelect" *ngIf="railroadCrossings.length">Select a railroad crossing:</label>
<select name="railroadCrossings" id="railroadCrossingSelect" *ngIf="railroadCrossings.length">
    <option value="">--Please choose a railroad--</option>
    <option *ngFor="let railroadCrossings of railroadCrossings" value="{{ railroadCrossings.fld_naam_ramses }}">{{ railroadCrossings.fld_naam_ramses }}</option>
</select>

